body{
	line-height: 16px;
}
.mui-table-view-cell{
	border-radius: 3px;
}
.mui-table-view{
	margin:5px;
}
.tit{
	margin-bottom: 20px;
	font-size: 18px;
	color: #333333;
}
.val{
	font-size: 16px;
	padding: 11px 0px;
	color: #666666;
}
.iconImg{
	width: 14px;
	vertical-align: middle;
}
.stateImg{
	width: 50px;
}
.mui-bar .mui-btn-link {
    font-size: 14px;
}
.mui-bar {
    padding-right: 12px;
}
.mui-table-view-cell {
    padding: 15px 15px 10px 15px;
    background-color: #FFFFFF;
}
.pt13{
	padding-top: 13px;
}
.mui-slider-handle{
	border-bottom: 1px solid #F3F4F6;
}
.editicon{
	width:22px;
	vertical-align: middle;
}
.color{
	color:#969698;
}
.colorred{
	color:#d30d31;
}
.colorgreen{
	color:#36c0a7;
}
.font-three-color {
    color: #666666 !important;
}